
html, body, div, h1, h2, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Flamenco', sans-serif;
	font-size: 16px;
	line-height: normal;
}
h1{
	font-weight: 300;
}
h2{
	font-size: 22px;
	line-height: 42px;
	font-weight: 600;
}
p{
	margin-bottom: 24px;
}
input:focus,
select:focus,
textarea:focus,
button:focus	 {
    outline: none;
}
.header{
	background-repeat: repeat-x;
	width:100%;
	z-index:9;
}
#header {margin-top: 0;}
.fixed-header{
	position: fixed;
	height:0;
	top:0;
	left:0;
    background-color: #fff;
    border:1px solid #ccc;
}
.logo {
  /*background: url(../images/logo-small.png) no-repeat; */
  /*height:65px;*/
  /*padding-left: 60px;*/
  /*font-family: 'DS Eraser Cyr';*/
  font-family: 'Sacramento',cursive;
  font-size:20px;
  /*float: left;*/
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
}
.logo a{
	color:black;
	text-decoration: none;
}
.clear {
	clear: both;
}
.jb-link{
	color:black;
	text-decoration: none;
}
.jb-link:hover{
	color:black;
	text-decoration: underline;
}
.jb-link.white{
	color:white;
}
.jb-link.black{
	color:black;
}
.cover{
	background-size: cover;
	background-position: center;
}
.wide{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.cover{
	padding:0;
	margin:0;
	padding-left:10%;
	padding-right:10%;
}
.wide.first 
{
	background-image: url('../images/slider/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	min-height: 400px;
	padding-left:2px;
	padding-right:2px;

	/*height:100%	;*/
	/*background-attachment: fixed;*/
}
.wide.second
{
	background-color: #948e8e;
	color:white;
	max-width: none;
}
.slider{ height:20px;}
.slider ul{
	list-style: none;
	margin:10px auto;
	text-align: center;
  	padding: 0;
}
.slider ul li{
	display: inline-block;
	height: 10px;
	width:10px;
	cursor: pointer;
	background-image: url('../images/circle.png');
	background-position: bottom;
}
.slider ul li.active, .slider ul li:hover{
	display: inline-block;
	height: 10px;
	width:10px;
	cursor: pointer;
	background-image: url('../images/circle.png');
	background-position: 0 0;
}
.container{
	width:640px;
	padding:10px;
	margin:0 auto;
}

.container.city{
	padding:0px;
	width:100%;
	/*background-color: #fff;*/
	background-position: -10 0;
}
.city.first{
	height:74px;
	/*background: url('../images/city.png') repeat-x;*/
	background-position: 100% 0;
	position:absolute;
	bottom: 0;
}
.city.second{
	height:74px;
	background: url('../images/city_2.png') no-repeat;
	background-position: 100% 0;
}
.city.third{
	height:165px;
	background: url('../images/city_1.png') repeat-x;
}

.container.page{
	background-color: #fff;
}
.nav {
	/*float:right;*/
	margin-top:20px;
	text-align: center;
	font-size: 16px;
}
/*.nav ul {
	list-style-type: none;
}
.nav ul li{
	display:inline-block;
}
.nav ul li a
{
  padding: 0;
  text-transform: uppercase;
  color:#3b3b3b;
  padding-left: 14px;
  text-decoration: none;
}*/
.content{
	margin-bottom: 30px;
}
.content iframe{
	display: block;
	margin: 0 auto;
}
.content .thumb{
  float:left;
  box-sizing:border-box;
  padding:2px 2px;
  width:33.33333%;
  /*border:1px solid #000;*/
  overflow: hidden;
  position: relative;
}
.content .thumb img{
  display: block;
  width: 100%;
  height:auto;
}
.thumb:hover .th-label{
    display: block;
}
.th-label{
	position: absolute;
	width: 100%;
    height: 100%;
    box-sizing:border-box;
    padding:4px 2px;
    background-color: rgba(256, 256, 256, 0.7);
    color:#222;
    text-transform: uppercase;
    display: none;
}
.th-label div{
	margin: 25% auto 25% auto; text-align: center;
}
.heading{
	font-size: 35px;
	text-align: center;
	padding-top:30px;
	padding-bottom:10px;

}
.heading.with-margin{
	margin-bottom: 15px;
}
/* Navigation styles*/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


nav a {
	position: relative;
	display: inline-block;
	margin: 0px;
	margin-left:15px;
	outline: none;
	color: #3b3b3b;
	text-decoration: none !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus, nav a:active {
	outline: none;
	color:#3b3b3b;
}

.menu a {
	padding: 0 0 5px;
	line-height: 1;
}

.menu a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #3b3b3b;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menu a:hover::after,
.menu a:focus::after, .menu .active::after
{
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.menu .active,.menu a:focus{
	font-weight: bold;
}

/*columns*/
.column {
	float:left;
	padding:20px;
}
.column.one{
	width:20%;
}
.column.two{
	width:40%;
	min-width: 400px;
	background-color: #000;
}
.column.two img{
	width:400px;
	padding:20px;
}
.column.three{
	width:40%;
	margin: auto;
	background-color: #000;
}

/*contact form*/
.black-input{
	padding:10px;
	border:2px solid #948e8e;
	color:#948e8e;
	font-size:12px;
	width:100%;
	background-color: #fff;
	margin-bottom: 15px;
}
.black-input.error{
	color:red;
	border:2px solid red;
}
.black-input[type='button']:hover{
	color:#fff;
	background-color: #948e8e;
}
.column.right,.column.left{
	padding:0;
	width:50%;
}
.column.right{
	padding-left:10px;
}

.column.left{
	padding: 0 10 0 0px;
}
textarea.black-input{
	height:90px;
}
.social-contacts{
	padding:25px;
	display:block;
	width:207px;
	margin:0 auto;
}
.social{
	height:20px;
	display:inline-block;
}
.social.fb{
	background: url(../images/facebook.png) no-repeat;
	width:11px;
}
.social.bs{
	background: url(../images/blog.png) no-repeat;
	width:24px;
	margin-left:20px;
	margin-right:20px;
}
.social.ig{
	background: url(../images/instagram.png) no-repeat;
	width:21px;
}
.social.vimeo{
	background: url(../images/vimeo.png) no-repeat;
	width:24px;
	margin-left:20px;
}
footer{
	width:100%;
	padding: 10px;
	background-color: #222;
	color:#ccc;
	font-size: 10px;
}
/*div to display full image*/
#full-img{
	background-color: #ddd;
	min-height:150px;
	width:100%;
	height:100%;
	overflow: hidden;
	position:fixed;
	z-index:10;
	top:0;
	overflow: hidden;
	display: none;
}
.img-content{
	height:100%;
	margin-left:60px;
	margin-right:60px;
	position:relative;
	padding-top:40px;
	padding-bottom:40px;

}
.img-content img{
 	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width:auto;
}
.close{
	position: absolute;
	display: block;
	right:20px;
	top:10px;
	background: url(../images/close.png) no-repeat;
	width:16px;
	height:16px;
}
.prev,.next{
	display: block;
	height:60px;
	width:60px;
	cursor: pointer;
	position:absolute;
	top:50%	;
} 

.next{
	background: url('../images/next.png') no-repeat;
	background-position: center;
	right:0;	
}
.prev{
	float:left;
	background: url('../images/prev.png') no-repeat;
	background-position: center;
}
.vimeoplayer{
	width: 640px;
	height: 360px;
}

/*for Iphone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 639px ) {
	.content .thumb{
		width:50%;
	}
	nav a{
		display: block;
		width:100%;
	}
	.nav {display: none;}
	.logo {
		  font-size: 90px;
		  position: relative;
	}
	.small-menu{
		position:absolute;
		top:40px;
		right:30px;
		background: url('../images/hmbg.png') no-repeat;
		background-position: center;
		width:40px;
		height:40px;
		cursor: pointer;
	}
	.container{
	width:100%;
	padding:0;
	}
	.vimeoplayer{
		width: 100%;
	}
	.column.left,.column.right{
		width:100%;
		padding:0;
	}
	.container .column.right{
		margin-top:10px;
		padding-left:10px;
		padding-right: 10px;
	}
	#contact .column.right{margin:0;padding:0 }

	.vimeoplayer{
	width:100%;
	}
}